---
description: >-
  Attached are the audit reports for Price Oracle contracts with issues marked
  as "Closed" (meaning the auditors have verified that changes have addressed
  the previously "Open" issues).
---

# Price Oracles Final Audit

The final audit report for our Price Oracle contracts can be accessed below. The price oracle contracts are used for listing assets in the lending market that don't have an existing ETH-based oracle.\
The repository used by the auditors, CertiK, is also now publicly accessible here [https://github.com/xave-finance/lending-market-price-oracles](https://github.com/xave-finance/lending-market-price-oracles).&#x20;

{% file src="../.gitbook/assets/PriceOracle-Final-Report.pdf" %}
