---
description: This audit covers our initial farming and vesting contracts
---

# v0 Final Audit

The final audit report for our v0 farming and vesting contracts can be accessed below. The repository used by the auditors, Monoceros Alpha, is also now publicly accessible here [https://github.com/monoceros-alpha/review-halodao-rewards-2021-06](https://github.com/monoceros-alpha/review-halodao-rewards-2021-06). 

{% file src="../.gitbook/assets/halodao-v0-final-audit.pdf" caption="v0 Farming and Vesting Final Audit" %}



